body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	justify-content: space-between;
	padding: 5px;
}
.postcard-header img {
	width: 80px;
	height: 80px;
}

.postcard-body {
	display: flex;
}

.body-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.body-left p:first-child {
	margin-top: auto;
}

.body-left,
.body-right {
	padding: auto;
}
input {
	border: 0cap;
	border-bottom: 0cap;
}

.postcard-footer {
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 20%;
	justify-content: center;
}
button {
	background-color: rgb(220, 220, 220);
	padding: 1%;
}
